# Database PostgreSQL URL
# Contoh format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mineral_db?schema=public"

# Auth Secret untuk signing JWT session Superadmin
AUTH_SECRET="mineral_super_secret_session_jwt_key_2026_min32chars!"

# Base URL Aplikasi
NEXT_PUBLIC_APP_URL="http://localhost:3000"
